JobPortal/ClientCandidate/Connected Services/DummyService2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JobPortal" />
  <xs:element name="GetAllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="GetAllJobsResult" nillable="true" type="q1:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="GetJobResult" nillable="true" type="q2:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="job" nillable="true" type="q3:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="AddJobResult" nillable="true" type="q4:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="RemoveJobResult" nillable="true" type="q5:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="job" nillable="true" type="q6:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="UpdateJobResult" nillable="true" type="q7:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>