JobPortal/ClientCandidate/Connected Services/CandidateService/JobPortal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobPortal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCandidate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Candidate" nillable="true" type="tns:Candidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCandidate" nillable="true" type="tns:ArrayOfCandidate" />
  <xs:complexType name="Candidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JobExperiences" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferedJobLocations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Candidate" nillable="true" type="tns:Candidate" />
</xs:schema>