JobPortal/ClientJobPortal/Connected Services/DummyService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JobPortal" />
  <xs:element name="GetAllCandidates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCandidatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="GetAllCandidatesResult" nillable="true" type="q1:ArrayOfCandidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="GetCandidateResult" nillable="true" type="q2:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="candidate" nillable="true" type="q3:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="AddCandidateResult" nillable="true" type="q4:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="RemoveCandidateResult" nillable="true" type="q5:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="candidate" nillable="true" type="q6:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JobPortal" minOccurs="0" name="UpdateCandidateResult" nillable="true" type="q7:Candidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>